In [1]:
import numpy as np
import pandas as pd

In [2]:
!unzip "/content/drive/MyDrive/archive.zip"
!unzip "/content/drive/MyDrive/berlin-crime.zip"
!unzip "/content/drive/MyDrive/berlin-env.zip"

Archive:  /content/drive/MyDrive/archive.zip
  inflating: immo_data.csv
Archive:  /content/drive/MyDrive/berlin-crime.zip
  inflating: Berlin_crimes.csv
Archive:  /content/drive/MyDrive/berlin-env.zip
  inflating: BER_environmental_justice.csv
  inflating: LOR-Planungsraeume.geojson

In [3]:
house_df = pd.read_csv("/content/immo_data.csv")
crime_df = pd.read_csv("/content/Berlin_crimes.csv")
enviroment_df = pd.read_csv("/content/BER_environmental_justice.csv")

In [6]:
berlin_house_df = house_df.loc[house_df['regio1'] == "Berlin"]
berlin_house_df.head(3) # regio3 is

,regio1,serviceCharge,heatingType,telekomTvOffer,telekomHybridUploadSpeed,newlyConst,balcony,picturecount,pricetrend,telekomUploadSpeed,...,regio2,regio3,description,facilities,heatingCosts,energyEfficiencyClass,lastRefurbish,electricityBasePrice,electricityKwhPrice,date
45,Berlin,320.0,central_heating,NaN,NaN,False,True,10,4.99,NaN,...,Berlin,Staaken_Spandau,Diese attraktive EG-Wohnung kann ab sofort bez...,NaN,NaN,NaN,NaN,NaN,NaN,Feb20
61,Berlin,79.0,central_heating,ONE_YEAR_FREE,NaN,False,False,17,7.35,40.0,...,Berlin,Weißensee_Weißensee,Suchen Sie eine 2-Zimmerwohnung in Weißensee? ...,Zusammengefasst bietet die Wohnung:\n+ Vollstä...,68.0,NaN,NaN,NaN,NaN,Oct19
77,Berlin,150.0,floor_heating,ONE_YEAR_FREE,NaN,True,True,15,6.60,40.0,...,Berlin,Mitte_Mitte,Dieses luxuriöse Neubauquartier direkt am Luis...,"• sehr ruhig gelegen, trotz zentraler Lage, da...",NaN,NaN,NaN,NaN,NaN,Oct19

In [7]:
crime_df.head(3) # district

,Year,District,Code,Location,Robbery,Street_robbery,Injury,Agg_assault,Threat,Theft,Car,From_car,Bike,Burglary,Fire,Arson,Damage,Graffiti,Drugs,Local
0,2012,Mitte,10111,Tiergarten Süd,70,46,586,194,118,2263,18,328,120,68,16,4,273,26,171,1032
1,2012,Mitte,10112,Regierungsviertel,65,29,474,123,142,3203,10,307,170,37,10,4,380,124,98,870
2,2012,Mitte,10113,Alexanderplatz,242,136,1541,454,304,8988,81,792,822,275,49,27,1538,522,435,3108

In [8]:
enviroment_df.head(3) # street

,planing_area_name,Noise,Air Pollution (PM2.5 + NO2),Grean area supply,Bioclimatic Stress,Social Status,population,geometry
0,Ackerstr.,4,4,3,4,2,6078.0,MULTIPOLYGON (((13.19134452217572 52.548723257...
1,Adamstr.,3,3,4,4,3,16144.0,MULTIPOLYGON (((13.20243594178142 52.525980784...
2,Adele-Sandrock-Str.,2,3,4,4,3,8736.0,MULTIPOLYGON (((13.62614439080152 52.529491315...

In [10]:
berlin_house_df.info()

(10406, 49)
Index(['regio1', 'serviceCharge', 'heatingType', 'telekomTvOffer',
       'telekomHybridUploadSpeed', 'newlyConst', 'balcony', 'picturecount',
       'pricetrend', 'telekomUploadSpeed', 'totalRent', 'yearConstructed',
       'scoutId', 'noParkSpaces', 'firingTypes', 'hasKitchen', 'geo_bln',
       'cellar', 'yearConstructedRange', 'baseRent', 'houseNumber',
       'livingSpace', 'geo_krs', 'condition', 'interiorQual', 'petsAllowed',
       'street', 'streetPlain', 'lift', 'baseRentRange', 'typeOfFlat',
       'geo_plz', 'noRooms', 'thermalChar', 'floor', 'numberOfFloors',
       'noRoomsRange', 'garden', 'livingSpaceRange', 'regio2', 'regio3',
       'description', 'facilities', 'heatingCosts', 'energyEfficiencyClass',
       'lastRefurbish', 'electricityBasePrice', 'electricityKwhPrice', 'date'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
Int64Index: 10406 entries, 45 to 268829
Data columns (total 49 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   regio1                    10406 non-null  object
 1   serviceCharge             10171 non-null  float64
 2   heatingType               8935 non-null   object
 3   telekomTvOffer            8994 non-null   object
 4   telekomHybridUploadSpeed  918 non-null    float64
 5   newlyConst                10406 non-null  bool
 6   balcony                   10406 non-null  bool
 7   picturecount              10406 non-null  int64
 8   pricetrend                10381 non-null  float64
 9   telekomUploadSpeed        8993 non-null   float64
 10  totalRent                 9744 non-null   float64
 11  yearConstructed           8981 non-null   float64
 12  scoutId                   10406 non-null  int64
 13  noParkSpaces              2013 non-null   float64
 14  firingTypes               8122 non-null   object
 15  hasKitchen                10406 non-null  bool
 16  geo_bln                   10406 non-null  object
 17  cellar                    10406 non-null  bool
 18  yearConstructedRange      8981 non-null   float64
 19  baseRent                  10406 non-null  float64
 20  houseNumber               8879 non-null   object
 21  livingSpace               10406 non-null  float64
 22  geo_krs                   10406 non-null  object
 23  condition                 8138 non-null   object
 24  interiorQual              6198 non-null   object
 25  petsAllowed               5568 non-null   object
 26  street                    10406 non-null  object
 27  streetPlain               8879 non-null   object
 28  lift                      10406 non-null  bool
 29  baseRentRange             10406 non-null  int64
 30  typeOfFlat                9602 non-null   object
 31  geo_plz                   10406 non-null  int64
 32  noRooms                   10406 non-null  float64
 33  thermalChar               7131 non-null   float64
 34  floor                     9306 non-null   float64
 35  numberOfFloors            7279 non-null   float64
 36  noRoomsRange              10406 non-null  int64
 37  garden                    10406 non-null  bool
 38  livingSpaceRange          10406 non-null  int64
 39  regio2                    10406 non-null  object
 40  regio3                    10406 non-null  object
 41  description               9742 non-null   object
 42  facilities                9083 non-null   object
 43  heatingCosts              5637 non-null   float64
 44  energyEfficiencyClass     3489 non-null   object
 45  lastRefurbish             3336 non-null   float64
 46  electricityBasePrice      1995 non-null   float64
 47  electricityKwhPrice       1995 non-null   float64
 48  date                      10406 non-null  object
dtypes: bool(6), float64(18), int64(6), object(19)
memory usage: 3.6+ MB

In [29]:
berlin_house_df['regio3'] = berlin_house_df['regio3'].apply(lambda x: x.split('_')[1])

<ipython-input-29-96381c61f8c5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  berlin_house_df['regio3'] = berlin_house_df['regio3'].apply(lambda x: x.split('_')[1])

In [13]:
berlin_house_df['streetPlain']

45           Metropolitan_Park
61                 Börnestraße
77        Stallschreiberstraße
86            Hallesche_Straße
87                 Heidestraße
                  ...
268716                     NaN
268733            Brüderstraße
268746         Todtnauer_Zeile
268758             Leibnizstr.
268829                  Elmweg
Name: streetPlain, Length: 10406, dtype: object

In [25]:
enviroment_df.rename(columns={'streetPlain':'street'}, inplace=True)

In [30]:
berlin_house_df.rename(columns={'regio3':'District'}, inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [31]:
berlin_miete_crime = pd.merge(crime_df, berlin_house_df, on='District')

In [32]:
berlin_miete_crime.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 298552 entries, 0 to 298551
Data columns (total 68 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Year                      298552 non-null  int64
 1   District                  298552 non-null  object
 2   Code                      298552 non-null  int64
 3   Location                  298552 non-null  object
 4   Robbery                   298552 non-null  int64
 5   Street_robbery            298552 non-null  int64
 6   Injury                    298552 non-null  int64
 7   Agg_assault               298552 non-null  int64
 8   Threat                    298552 non-null  int64
 9   Theft                     298552 non-null  int64
 10  Car                       298552 non-null  int64
 11  From_car                  298552 non-null  int64
 12  Bike                      298552 non-null  int64
 13  Burglary                  298552 non-null  int64
 14  Fire                      298552 non-null  int64
 15  Arson                     298552 non-null  int64
 16  Damage                    298552 non-null  int64
 17  Graffiti                  298552 non-null  int64
 18  Drugs                     298552 non-null  int64
 19  Local                     298552 non-null  int64
 20  regio1                    298552 non-null  object
 21  serviceCharge             291784 non-null  float64
 22  heatingType               259680 non-null  object
 23  telekomTvOffer            263720 non-null  object
 24  telekomHybridUploadSpeed  27016 non-null   float64
 25  newlyConst                298552 non-null  bool
 26  balcony                   298552 non-null  bool
 27  picturecount              298552 non-null  int64
 28  pricetrend                297640 non-null  float64
 29  telekomUploadSpeed        263720 non-null  float64
 30  totalRent                 283120 non-null  float64
 31  yearConstructed           265568 non-null  float64
 32  scoutId                   298552 non-null  int64
 33  noParkSpaces              68616 non-null   float64
 34  firingTypes               241352 non-null  object
 35  hasKitchen                298552 non-null  bool
 36  geo_bln                   298552 non-null  object
 37  cellar                    298552 non-null  bool
 38  yearConstructedRange      265568 non-null  float64
 39  baseRent                  298552 non-null  float64
 40  houseNumber               257832 non-null  object
 41  livingSpace               298552 non-null  float64
 42  geo_krs                   298552 non-null  object
 43  condition                 232400 non-null  object
 44  interiorQual              181864 non-null  object
 45  petsAllowed               152896 non-null  object
 46  street                    298552 non-null  object
 47  streetPlain               257832 non-null  object
 48  lift                      298552 non-null  bool
 49  baseRentRange             298552 non-null  int64
 50  typeOfFlat                276128 non-null  object
 51  geo_plz                   298552 non-null  int64
 52  noRooms                   298552 non-null  float64
 53  thermalChar               205264 non-null  float64
 54  floor                     262696 non-null  float64
 55  numberOfFloors            198472 non-null  float64
 56  noRoomsRange              298552 non-null  int64
 57  garden                    298552 non-null  bool
 58  livingSpaceRange          298552 non-null  int64
 59  regio2                    298552 non-null  object
 60  description               277920 non-null  object
 61  facilities                263408 non-null  object
 62  heatingCosts              167648 non-null  float64
 63  energyEfficiencyClass     97104 non-null   object
 64  lastRefurbish             89360 non-null   float64
 65  electricityBasePrice      62840 non-null   float64
 66  electricityKwhPrice       62840 non-null   float64
 67  date                      298552 non-null  object
dtypes: bool(6), float64(18), int64(24), object(20)
memory usage: 145.2+ MB

In [26]:
df = pd.merge(enviroment_df, berlin_house_df, on='street')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 236 entries, 0 to 235
Data columns (total 56 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   street                       236 non-null    object
 1   Noise                        236 non-null    int64
 2   Air Pollution (PM2.5 + NO2)  236 non-null    int64
 3   Grean area supply            236 non-null    int64
 4   Bioclimatic Stress           236 non-null    int64
 5   Social Status                236 non-null    int64
 6   population                   236 non-null    float64
 7   geometry                     236 non-null    object
 8   regio1                       236 non-null    object
 9   serviceCharge                233 non-null    float64
 10  heatingType                  195 non-null    object
 11  telekomTvOffer               233 non-null    object
 12  telekomHybridUploadSpeed     13 non-null     float64
 13  newlyConst                   236 non-null    bool
 14  balcony                      236 non-null    bool
 15  picturecount                 236 non-null    int64
 16  pricetrend                   236 non-null    float64
 17  telekomUploadSpeed           233 non-null    float64
 18  totalRent                    222 non-null    float64
 19  yearConstructed              209 non-null    float64
 20  scoutId                      236 non-null    int64
 21  noParkSpaces                 40 non-null     float64
 22  firingTypes                  212 non-null    object
 23  hasKitchen                   236 non-null    bool
 24  geo_bln                      236 non-null    object
 25  cellar                       236 non-null    bool
 26  yearConstructedRange         209 non-null    float64
 27  baseRent                     236 non-null    float64
 28  houseNumber                  236 non-null    object
 29  livingSpace                  236 non-null    float64
 30  geo_krs                      236 non-null    object
 31  condition                    196 non-null    object
 32  interiorQual                 136 non-null    object
 33  petsAllowed                  125 non-null    object
 34  streetPlain                  236 non-null    object
 35  lift                         236 non-null    bool
 36  baseRentRange                236 non-null    int64
 37  typeOfFlat                   218 non-null    object
 38  geo_plz                      236 non-null    int64
 39  noRooms                      236 non-null    float64
 40  thermalChar                  188 non-null    float64
 41  floor                        206 non-null    float64
 42  numberOfFloors               120 non-null    float64
 43  noRoomsRange                 236 non-null    int64
 44  garden                       236 non-null    bool
 45  livingSpaceRange             236 non-null    int64
 46  regio2                       236 non-null    object
 47  regio3                       236 non-null    object
 48  description                  221 non-null    object
 49  facilities                   217 non-null    object
 50  heatingCosts                 180 non-null    float64
 51  energyEfficiencyClass        73 non-null     object
 52  lastRefurbish                67 non-null     float64
 53  electricityBasePrice         32 non-null     float64
 54  electricityKwhPrice          32 non-null     float64
 55  date                         236 non-null    object
dtypes: bool(6), float64(19), int64(11), object(20)
memory usage: 95.4+ KB

In [27]:
df[['street','baseRent','Noise']]

            street  baseRent  Noise
0         Adamstr.   1115.00      3
1         Adamstr.    518.62      3
2         Adamstr.    576.82      3
3         Adamstr.    521.24      3
4    Alt-Kaulsdorf   1233.26      3
..             ...       ...    ...
231    Wilhelmstr.   3745.44      4
232    Wilhelmstr.    933.00      4
233    Wilhelmstr.   3560.94      4
234    Zwinglistr.    699.00      4
235    Zwinglistr.   1621.00      4

[236 rows x 3 columns]

## Training a linear regression to predict house rental prices

In [33]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [35]:
# Preprocess the data
berlin_miete_crime.fillna(berlin_miete_crime.mean(), inplace=True)
crime_rate = berlin_miete_crime[['Robbery', 'Street_robbery', 'Injury', 'Agg_assault', 'Threat', 'Theft', 'Car', 'From-car', 'Bike', 'Burglary', 'Fire', 'Arson', 'Damage', 'Graffiti', 'Drugs']]
X = crime_rate
y = df['baseRent']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

<ipython-input-35-e20be698fc3d>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  berlin_miete_crime.fillna(berlin_miete_crime.mean(), inplace=True)

KeyError: ignored

In [ ]:
# Train
reg = LinearRegression().fit(X_train, y_train)

In [ ]:
# Evaluation
y_pred = reg.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error:', mse)